<!DOCTYPE html>

<!-- Име Фамилиев, група X, ф.н. XXXXX -->

<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src="three.min.js"></script>
		<script src="OrbitControls.js"></script>
	</head>
	
	<body>
		<script>
			const FN = '9MI0899999'; // факултетен номер 
		</script>
		
		<script src="init.js"></script>
			
		<script>
		
			// 1. преименувайте файла на moidom-g-fn.html
			//    g=номер на група, а fn=факултетен номер
			//
			// 2. сменете стойността на константата FN да
			//    е факултетния номер, за да се генерират
			//    сцената, земята и контурът на къщата ви
			//
			// 3. едва тогава почвайте да строите стените
			//    и да добавяте исканите обекти по стаите
			//
			// 4. в init.js се прави глобален обект scene
			//    и в него трябва да сложите обектите си!
			//
			// 5. кубът по-долу е само за пример как може
			//    да се слагат обекти, които правят сянка
			
			var geometry = new THREE.BoxGeometry( 2, 2, 2 ),
				material = new THREE.MeshPhongMaterial( {color:'crimson', shininess: 100} );
				
			var cube = new THREE.Mesh( geometry, material );
				cube.position.set( 0, 1, 0 );
				cube.receiveShadow = true;
				cube.castShadow = true;
			
			scene.add( cube );
			
		</script>
		
	</body>
</html>


